
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
</head>

<body>
    <header>
        <div class="header-layout">
            <div class="logo">facebook</div>
            <h1 class="welcome">Username</h1>
        </div>
    </header>
    <div class="container">
        <div class="body">
            <br><br><br><br><br><br>
<!--            <form  action="#" th:action="@{/savePost}" th:object="${post}"  method="post">-->
<!--                <div class="post-field">-->
<!--                    <textarea th:field="*{postMessage}" class="text-post" name="message" id="text" cols="30" rows="10" placeholder="What's on your mind?"></textarea>-->
<!--                </div>-->
<!--                <button type="submit">post</button>-->
<!--            </form>-->
            <br>

            <h2>Feed</h2>
                <div class="post-block" th:each="post : ${listPosts}">
                    <div class="pad-left time"><span th:text="${post.timeOfPost}"></span><span class="pad-right"></span></div>
                    <hr>
                    <p class="pad-message" th:text="${post.postMessage}"></p>
                    <hr>
                    <span class="crud">
                        <a href="">Like</a>
                        <a href="">Edit</a>
                        <a href="" onclick="if (!(confirm('Confirm to delete post'))) return false">Delete</a>
                    </span>
                </div>
                <br>
        </div>
    </div>
</body>




<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>-->
</html>